@font-face {
	font-family: 'roboto-regular';
	src: url('lib/google/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'roboto-medium';
	src: url('lib/google/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'roboto-bold';
	src: url('lib/google/fonts/Roboto-Bold.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 32px;
}

.body {
	font-family: 'roboto-regular';
	max-width: 1000px;
}

.header {
	background-color: #fff;
	padding: 32px;
	margin-bottom: 32px;
}

.header .brand {
	text-align: center;
}

.header .brand .name {
	color: #666;
	font-family: 'roboto-bold';
	font-size: 32px;
}

.header .brand .logo {
	width: 150px;
}

.header .items {
	display: inline-block;
	text-align: center;
	line-height: 28px;
	margin-top: 40px;
}

.header .items div {
	display: inline-block;
	color: #666;
	font-size: 22px;
}

.separator {
	color: #a5a5a5 !important;
	text-align: center;
	width: 28px;
}

.header .items p {
	display: flex;
	align-items: center;
	color: #666;
	font-size: 20px;
	margin: 0 0 8px 0;
}

.header .items i {
	color: #2196F3;
	font-size: 28px;
	font-weight: bold;
	margin-right: 6px;
}

.section-title {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	font-family: 'roboto-medium';
	font-size: 23px;
	font-weight: normal;
	background-color: #2196F3;
	color: #fff;
	height: 56px;
	padding: 16px;
	margin-bottom: 32px;
	border-radius: 3px;
}

.section-title i {
	margin-right: 20px;
	opacity: .7;
}